name: Deploy to Apache Server

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: false

      - name: Sync files to Web Root
        run: |
          rsync -av --delete --exclude '.git' --exclude '.github' ./ /var/www/html/

      - name: Fix Permissions
        run: |
          chown -R deploy:www-data /var/www/html
          chmod -R 775 /var/www/html
